@font-face{
	font-family: 'Dejavu Sans Condensed';
	src: url('../fonts/dejavusanscondensed.eot');
	src: url('../fonts/dejavusanscondensed.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dejavusanscondensed.woff') format('woff'),
	url('../fonts/dejavusanscondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face{
	font-family:'Dejavu Sans Condensed';
	src:url('../fonts/dejavusanscondensed-bold.eot');
	src:url('../fonts/dejavusanscondensed-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dejavusanscondensed-bold.woff') format('woff'),
	url('../fonts/dejavusanscondensed-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal
}
* {
	font-family: "Dejavu Sans Condensed", 'Arial AMU', Silfaen, sans-serif;
}
.lh-100 {
	line-height: 100%;
}
.ellipsis {
	width: 200px;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hidden {
	display: none !important;
}
.order .badge {
	font-weight: normal;
	font-size: 70%;
}
